/*-- scss:functions --*/

/*-- scss:defaults --*/

$primary: #f7ca69;

/*-- scss:rules --*/

@font-face {
	font-family: whitney-book;
	src: url("resources/fonts/whitney-book.otf");
}

// whitney book is missing minus sign codepoint, add from another font
@font-face {
  font-family: whitney-book;
  src: url("resources/fonts/SourceSansPro-Regular.ttf");
  unicode-range: U+2212;
}

/*
.observablehq--error {
  display: none;
}
*/

:where(.color-legend-swatches) {
  font-family: var(--sans-serif) !important;
}

.source {
  font-style: italic;
  font-size: small;
  margin-top: 1em;
  a { color: #2c728e; }
}
