/*-- scss:functions --*/

/*-- scss:defaults --*/

$primary: #f7ca69;

/*-- scss:rules --*/

@font-face {
	font-family: whitney-book;
	src: url("resources/fonts/whitney-book.otf");
}

// whitney book is missing minus sign codepoint, add from another font
@font-face {
  font-family: whitney-book;
  src: url("resources/fonts/SourceSansPro-Regular.ttf");
  unicode-range: U+2212;
}

body {
  overflow: hidden; /* Disables all scrolling and hides both scrollbars */
}

/*
.observablehq--error {
  display: none;
}
*/

:where(.color-legend-swatches) {
  font-family: var(--sans-serif) !important;
}

.source {
  font-style: italic;
  font-size: small;
  margin-top: 1em;
  a { color: #2c728e; }
}

nav.border-bottom {
  border-bottom: none !important;
}

.navbar-nav .nav-link {
  border-radius: .25rem;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link.active {
  background-color: $primary;
  color: black;
}

.navbar-nav .nav-link:hover:not(.active) {
  background-color: #e9ecef;
}

#quarto-content >* {
  padding-top: 0;
}

main {
  margin-top: 0;
  margin-bottom: 0;
}

.callout-display {
  flex-grow: 1;
}

.display-box-container {
  display: flex;
  column-gap: 1em;
  justify-content: space-between;
}

.display-box {
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding: .5em 1em .5em .5em;
}

.display-content {
  display: flex;
  flex-direction: column;
}

.display-icon {
  //font-size: 5em;
  font-size: clamp(.1em, max(18cqw, 5.2cqh), 4em);
}

.display-var {
  font-size: 1.1em;
  font-weight: normal;
}

.display-val {
  //font-size: 3.5em;
  font-size: clamp(.1em, 15cqw, 3em);
  line-height: normal;
}
